<div id="modalReg" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Register</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="" class="register">
                <div class="d-flex justify-content-center mb-4">
                    <label for="firstName"></label>
                    <input class = "mx-3" type="text" name="firstName" id="firstName" placeholder="Your first name" required/>
                    <label for="lastName"></label>
                    <input class = "mx-3" type="text" name="lastName" id="lastName" placeholder="Your last name" required/>
                </div>
                <div class="d-flex justify-content-center mb-4">
                    <label for="mailreg"></label>
                    <input class = "mx-3" type="email" name="mail" id="mailreg" placeholder="Your mail" required/>
                </div>
                <div class="d-flex justify-content-center mb-4">
                    <label for="passwordreg"></label>
                    <input class = "mx-3" type="password" name="password" id="passwordreg" placeholder="Your password" required/>
                    <label for="passwordreg"></label>
                    <input class = "mx-3" type="password" name="passwordConf" id="passwordConf" placeholder="Confirm your password" onChange="checkPasswordMatch();" required/>
                </div>
                <div class="registrationFormAlert" id="divCheckPasswordMatch">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function checkPasswordMatch() {
    var password = $("#passwordreg").val();
    var confirmPassword = $("#passwordConf").val();

    if (password != confirmPassword){
        $("#divCheckPasswordMatch").html("Passwords do not match !");
    }
    else {
        $("#divCheckPasswordMatch").html("Passwords match.");
        $(".register").find(":last").append('<div class="d-flex justify-content-center">\n' +
            '                    <button class="btn btn-primary d-flex justify-content-center" type="submit" name="submit" value="register">Register</button>\n' +
            '                </div>');
    }
}

$(document).ready(function () {
    $("#passwordreg, #passwordConf").keyup(checkPasswordMatch);
});
</script>