<div id="modalSignIn" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="" class="sign_in">
                <label for="mail"></label>
                <input type="email" name="mail" id="mail" placeholder="Your mail"/>
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Your password"/>

                <button type="submit" name="submit" value="sign_in">Sign in</button>
            </form>
        </div>
    </div>
</div>