
// Body
$body-bg: #f4f4f4;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$green: #24c88c;
$lightGrey1: #f4f4f4;
$lightGrey2: #e8e8e8;
