@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

html *:hover {
    text-decoration: none;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;

    ul {
        list-style-type: none;
        margin:0;padding:0;
    
        li {
            background: #fff;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 8px;
    
            a {
                font-size: 1.5em;
                text-decoration: none;
                font-weight: bold;
                color:#00A8FF;
            }
    
            ul {
                margin-top: 20px;
                
                li {
                    padding:0;
    
                    a {
                        font-size: 1em;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}
html, body { height: 100%; }

@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";