<h2>Votre compte</h2>
<br>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Nom d'utilisateur necessaire</div>
    </div>
  </div>
  <div class="form-group">
    <label for="oldpassword">Ancien mot de passe</label>
    <input type="password" formControlName="oldpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" />
    <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
      <div *ngIf="f.oldpassword.errors.required">Mot de passe</div>
      <div *ngIf="f.oldpassword.errors.minlength">Mot de passe doit faire au moins 6 caractères</div>
    </div>
  </div>
  <div class="form-group">
    <label for="newpassword">Nouveau mot de passe</label>
    <input type="password" formControlName="newpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" />
    <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
      <div *ngIf="f.newpassword.errors.required">Mot de passe</div>
      <div *ngIf="f.newpassword.errors.minlength">Mot de passe doit faire au moins 6 caractères</div>
    </div>
  </div>
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
    <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
      <div *ngIf="f.prenom.errors.required">Prénom necessaire</div>
    </div>
  </div>
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
    <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
      <div *ngIf="f.nom.errors.required">Nom necessaire</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Mise à jour</button>
    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>